<p>products works!</p>
<div class="row">
    <div class="col-md-8">

    <div class="d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Ikea</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Blanda Matt</h5>
                        <h1 class="main-heading mt-0">VASE</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="https://i.imgur.com/MGorDUi.png" width="250">
                </div>
            </div>
            
            <div class="flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
                <button routerLink="childroute1" class="btn btn-danger">Add to cart</button>
            </a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Oriflame</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Make-up-kit</h5>
                        <h1 class="main-heading mt-0">Beauty Products</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/cosmatic.jpg" width="200">
                </div>
            </div>
            
            <div class="flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
            <button routerLink="childroute2" class="btn btn-primary">Add to cart</button>
        </a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Watch</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Jwellary</h5>
                        <h1 class="main-heading mt-0">Watch</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/watch.jpeg" width="250">
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
            <button routerLink="childroute3" class="btn btn-danger">Add to cart</button>
        </a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Head phone</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Ear phones</h5>
                        <h1 class="main-heading mt-0">Mobile Accessories</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/hphone.jpeg" width="200">
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
            <button routerLink="childroute4" class="btn btn-danger">Add to cart</button></a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Apple iphone</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Phone</h5>
                        <h1 class="main-heading mt-0">Mobile Accessories</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/apple.jpeg" width="200">
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
            <button routerLink="childroute1" class="btn btn-danger">Add to cart</button></a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Food</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">First cry</h5>
                        <h1 class="main-heading mt-0">Baby Food</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/baby.jpeg" width="200">
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
            <button routerLink="childroute2" class="btn btn-danger">Add to cart</button></a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Beauty Brands</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Cosmatic products</h5>
                        <h1 class="main-heading mt-0">Cosmetics</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/img.jpeg" width="200">
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a>
            <button routerLink="childroute3" class="btn btn-danger">Add to cart</button></a>
        </div>
        
    </div>

    <div class=" d-flex justify-content-center align-items-center">
    
        <div class="card p-3">
            
            <div class="d-flex justify-content-between align-items-center ">
                <div class="mt-2">
                    <h4 class="text-uppercase">Lapi</h4>
                    <div class="mt-5">
                        <h5 class="text-uppercase mb-0">Laptop</h5>
                        <h1 class="main-heading mt-0">Laptop Accessories</h1>
                        <div class="d-flex flex-row user-ratings">
                            <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <h6 class="text-muted ml-1">4/5</h6>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="../../assets/lp.jpeg" width="200">
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <span>Available colors</span>
                <div class="colors">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            
            
            <p>A great option weather you are at office or at home. </p>
            
            <a routerLink="childroute2">
            <button  class="btn btn-danger">Add to cart</button></a>
        </div>
        
    </div>

    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
   
</div>
